@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


<a class="text-dark" asp-area="" asp-controller="Home" asp-action="FAQ" asp-route-selected="4">FAQ link pitanje 4</a><br />

<a class="text-dark" asp-area="" asp-controller="Home" asp-action="FAQ">FAQ link</a>